@import "app/variables";

.headerContainer{
  height: max(5vh, 50px);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;

  svg{
    margin-left: 15px;
    fill: $primaryTextColor;
    transition-duration: .2s;
    height: 60%;
    user-select: none;
    width: auto;

    &:hover{
      cursor: pointer;
      fill: $lightColor;
    }
  }

  .leftPartContainer{
    display: flex;
    align-items: center;

    .menuImage{
      margin-right: 25px;

      &:hover{
        cursor: pointer;
      }
    }
  }

  .rightPartContainer{
    display: flex;
    align-items: center;

    .warningSvg{
      fill: $warningColor;
    }

    .profileImage{

      &:hover{
        cursor: pointer;
      }
    }
  }
}
