@import "../../app/variables";

.albumItemContainer{
  background-color: $albumBackgroundColor;
  margin: 5px;
  user-select: none;
  display: flex;
  flex-direction: column;
  width: 170px;
  height: 230px;
  border-radius: 7px;
  text-decoration: none;
  padding: .75rem;
  align-items: center;
  justify-content: flex-start;
  color: $secondaryTextColor;

  & > img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }

  .albumNameContainer{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    .nameSong{
      width: 100%;
      color: $primaryTextColor;
      font-size: 14px;
      font-weight: bold;
    }

    .artistsSong{
      width: 100%;
      color: $secondaryTextColor;
      font-size: 12px;
    }
  }

  &:hover{
    background-color: $albumHoverColor;
  }


}
