@import "../variables";

.albumPageContainer{
  display: flex;
  flex-direction: column;
  position: relative;

  .albumsContainer{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1 1 auto;
  }

  .albumSongsContainer{
    padding: 0 calc(15px + .75rem) ;
    display: flex;
    flex-wrap: wrap;
  }
}
