@import "variables";

.htmlContainer{
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, 'Helvetica Neue', Helvetica, Arial;
  color: $primaryTextColor;
  @include scrollbars(.3em, $lightColor, $secondaryTextColor);

  .bodyContainer {
    padding: 0;
    margin: 0;
    background-color: $primaryBackgroundColor;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    & > .mainContainer{
      flex: 1 1 auto;
      display: flex;

      & > main {
        width: 100%;
        height: 93vh;
        background-color: $secondaryBackgroundColor;
      }
    }
  }
}


