
//background
$primaryBackgroundColor: rgb(0, 0, 0);
$secondaryBackgroundColor: #171717;



//text
$primaryTextColor: rgb(255, 255, 255);
$secondaryTextColor: #B3B3B3;

//table
$tableBackgroundColor: #121212;
$tableHoverColor: #1D1D1D;