@import "app/variables";

.loadingContainer{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba($primaryBackgroundColor, .3);
}
