@import "../../../app/variables";

.menuItemContainer{
  display: flex;
  align-items: center;
  height: 25px;
  color: $secondaryTextColor;
  text-decoration: none;
  padding: 6px 16px;
  user-select: none;

  &:hover{
    background-color: $secondaryBackgroundColor;
  }

  & > .imageItem{
    padding-right: 20px;
  }

  & > span{
    font-size: 14px;
    font-weight: 400;
  }
}

.menuItemContainerClosed{
  padding: 6px 11px;
  user-select: none;

  & > .imageItem{
    padding-right: 0;
  }
}

.activeItem{
  color: $primaryTextColor;
}